如果：
在 “省/自治区/直辖市” 中选择了 “北京市”
 就显示：
广西区外报名
如果：
在 “省/自治区/直辖市” 中选择了 “天津市”
 就显示：
广西区外报名
如果：
在 “省/自治区/直辖市” 中选择了 “河北省”
 就显示：
广西区外报名
如果：
在 “省/自治区/直辖市” 中选择了 “山西省”
 就显示：
广西区外报名
如果：
在 “省/自治区/直辖市” 中选择了 “内蒙古自治区”
 就显示：
广西区外报名
如果：
在 “省/自治区/直辖市” 中选择了 “辽宁省”
 就显示：
广西区外报名
如果：
在 “省/自治区/直辖市” 中选择了 “吉林省”
 就显示：
广西区外报名
如果：
在 “省/自治区/直辖市” 中选择了 “黑龙江省”
 就显示：
广西区外报名
如果：
在 “省/自治区/直辖市” 中选择了 “上海市”
 就显示：
广西区外报名
如果：
在 “省/自治区/直辖市” 中选择了 “江苏省”
 就显示：
广西区外报名
如果：
在 “省/自治区/直辖市” 中选择了 “浙江省”
 就显示：
广西区外报名
如果：
在 “省/自治区/直辖市” 中选择了 “安徽省”
 就显示：
广西区外报名
如果：
在 “省/自治区/直辖市” 中选择了 “福建省”
 就显示：
广西区外报名
如果：
在 “省/自治区/直辖市” 中选择了 “江西省”
 就显示：
广西区外报名
如果：
在 “省/自治区/直辖市” 中选择了 “山东省”
 就显示：
广西区外报名
如果：
在 “省/自治区/直辖市” 中选择了 “河南省”
 就显示：
广西区外报名
如果：
在 “省/自治区/直辖市” 中选择了 “湖北省”
 就显示：
广西区外报名
如果：
在 “省/自治区/直辖市” 中选择了 “湖南省”
 就显示：
广西区外报名
如果：
在 “省/自治区/直辖市” 中选择了 “广东省”
 就显示：
广西区外报名
如果：
在 “省/自治区/直辖市” 中选择了 “海南省”
 就显示：
广西区外报名
如果：
在 “省/自治区/直辖市” 中选择了 “重庆市”
 就显示：
广西区外报名
如果：
在 “省/自治区/直辖市” 中选择了 “四川省”
 就显示：
广西区外报名
如果：
在 “省/自治区/直辖市” 中选择了 “贵州省”
 就显示：
广西区外报名
如果：
在 “省/自治区/直辖市” 中选择了 “云南省”
 就显示：
广西区外报名
如果：
在 “省/自治区/直辖市” 中选择了 “西藏自治区”
 就显示：
广西区外报名
如果：
在 “省/自治区/直辖市” 中选择了 “陕西省”
 就显示：
广西区外报名
如果：
在 “省/自治区/直辖市” 中选择了 “甘肃省”
 就显示：
广西区外报名
如果：
在 “省/自治区/直辖市” 中选择了 “青海省”
 就显示：
广西区外报名
如果：
在 “省/自治区/直辖市” 中选择了 “宁夏回族自治区”
 就显示：
广西区外报名
如果：
在 “省/自治区/直辖市” 中选择了 “新疆维吾尔自治区”
 就显示：
广西区外报名
如果：
在 “省/自治区/直辖市” 中选择了 “香港特别行政区”
 就显示：
广西区外报名
如果：
在 “省/自治区/直辖市” 中选择了 “澳门特别行政区”
 就显示：
广西区外报名
如果：
在 “省/自治区/直辖市” 中选择了 “台湾”
 就显示：
广西区外报名