<p id="notice"><%= notice %></p>



<div class="row">
    <div class="col s12">
	<ul class="collection with-header center">
	    <li class="collection-header"><section class="Powered-by-XIUMI V5" style="position: static; box-sizing: border-box;" powered-by="xiumi.us"><section class="" style="margin-top: 10px; margin-bottom: 10px; text-align: center; position: static; box-sizing: border-box;"><section class="" style="width: 100%; border-bottom: 5px solid rgb(169, 211, 214); box-sizing: border-box;"><section class="" style="display: inline-block; vertical-align: bottom; margin-bottom: -5px; border-bottom: 5px solid rgb(1, 135, 207); font-size: 19px; padding: 5px; line-height: 1em; box-sizing: border-box;"><h6>“前沿课堂”英语光盘预订</h6></section></section></section></section></li>

      <li class="collection-item"><div><%= link_to '2017初中英语', "https://jinshuju.net/f/KlmOmY", class: "waves-effect waves-light btn blue darken-1 white-text" %></div></li>

      <li class="collection-item"><div><%= link_to '2017高中英语', "https://jinshuju.net/f/YolX7C", class: "waves-effect waves-light btn blue darken-1 white-text" %></div></li>

      <li class="collection-item"><div><%= link_to '2017小学英语', "https://jinshuju.net/f/v9KUmP", class: "waves-effect waves-light btn blue darken-1 white-text" %></div></li>

	</ul>
    </div>
</div>
